@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/*{
 font-family: 'Poppins', sans-serif;
}
.main {
  
  margin-top: 0px;
  background-color: white;
}


/*.side{
 
 position: relative;
left : 0%;
 height :100vh;
 width : 350px;
}
h3{
 position : absolute ;
 top : 50%;
 left : 10%;
 color : white ;
 font-size: 30px;

}
h2{
position : absolute ;
 top : 35%;
 left : 20%;
font-size: 30px;
color: white;
font-family:Georgia, 'Times New Roman', Times, serif;
}

/*.p1 {
  color :white ;
  position : absolute ;
  top : 48%;
  left : 1%;
 font-size: 20px;
  }
  
    .p3 {
      color:#4EA8DE ;
      position : absolute ;
      top : 14%;
      left : 600px;
     font-size: 30px;
     font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      }
  
.name2{
  background-color: #F9F9FF;
  height : 35px;
  position: absolute;
  top: 45%;
    left: 38%;
    width:190px;
    font-size: 10.5px;
    border-radius: 15px;
    
    border-width: 1px;
}
.name3{
  background-color: #F9F9FF;
  height : 35px;
  position: absolute;
  top: 55%;
    left: 38%;
    width:190px;
    font-size: 10.5px;
    border-radius: 15px;
    
    border-width: 1px;
}
.name4{
  background-color: #F9F9FF;
  height : 35px;
  position: absolute;
  top: 65%;
    left: 38%;
    width:190px;
    font-size: 10.5px;
    border-radius: 15px;
    
    border-width: 1px;
}


.login-button{
  position: absolute;
  top : 75%;
  left :500px;
  width: 120px;
  height: 40px;
  border-radius:15%;
  color: white;
  font-size: 20px;

}*/

